POSTGRES_DB=sigma
POSTGRES_USER=sigma
POSTGRES_PASSWORD=sigma
POSTGRES_PORT=5432

DATABASE_URL=postgresql://sigma:sigma@localhost:5432/sigma

JWT_SECRET=change-me
JWT_ALGORITHM=сhosen
JWT_EXPIRE_MINUTES=60
REFRESH_EXPIRE_DAYS=0

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
